var/auto-save/**
var/backup/**
var/company/**
var/desktop/**
var/emacs-session/**
var/eww/**
var/helm/**
var/org/**
var/projectile/**
var/transient/**
var/treemacs/**
var/undohist/**
var/url/**
var/prescient-save.el
var/recentf
var/recentf-save.el
var/save-place.el
var/savehist.el
var/transient/**
backups/**
auto-save-list/**
words/**
recentf
